* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  max-width: 1500px;
  margin: auto;
  position: relative;
  height: 100%;
  background-color: rgb(12, 91, 117);
}

.landscape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
}
